---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';


interface Props {
	title?: string | undefined;
	description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<MainHead title={title} description={description} />
	</head>
	<body>
		<div class="fixed w-full h-full">
		<div class="absolute -top-28 left-48 w-80 h-48 bg-babyblue rounded-full filter blur-2xl opacity-15"></div>
		<div class="absolute top-20 right-1 w-72 h-72 bg-limegreen rounded-full filter blur-2xl opacity-15"></div>
		<div class="absolute bottom-0 left-0 w-72 h-48 bg-darkblue rounded-full filter blur-2xl opacity-15"></div>
		<div class="absolute bottom-2 right-40 w-96 h-56 bg-darkpurple rounded-full filter blur-2xl opacity-15"></div>
		</div>
		  
		<div class="stack backgrounds">
			<Nav />
			<slot />
			<Footer />
		</div>

		<script>
			// Add “loaded” class once the document has completely loaded.
			addEventListener('load', () => document.documentElement.classList.add('loaded'));
		</script>

		<style>
			
			:root {
				--_placeholder-bg: linear-gradient(transparent, transparent);
				--bg-image-aspect-ratio: 2.25;
				--bg-scale: 1.68;
				--bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
				--bg-gradient-size: calc(var(--bg-scale) * 100%);
				--primaryblue: 39, 41, 73;
			}



			@media (min-width: 50em) {
				:root {
					--bg-scale: 1;

				}
			}

			.backgrounds {
				min-height: 100%;
				background:
					/*noise*/
					url('/assets/backgrounds/noise.png') top center/220px repeat,
					/*base*/ rgb(39, 41, 73);
				background-blend-mode: /*noise*/
					overlay,
					/*header2*/ normal,		
					/*base*/ normal;
			}
			@media (forced-colors: active) {
				/* Deactivate custom backgrounds for high contrast users. */
				.backgrounds {
					background: none;
					background-blend-mode: none;
					--bg-gradient-size: none;
				}
			}
		</style>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>
